.flex{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding:5px;
    width:90%;
}
.flex > .kanto {flex:2; flex-shrink: 50;
}
.flex > .iframe {flex: 1; flex-shrink: 10;}

img#KantoMap {width:100%;}

/*.flex > map {
    flex-shrink: 10;
}
.flex > area {
    flex-shrink: 10;
}*/