.flex{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding:5px;
    width:90%;
}
.flex > .kanto {flex-shrink: 10;
}
.flex > .iframe {flex-shrink: 10;}

img {width:100%;}

/*.flex > map {
    flex-shrink: 10;
}
.flex > area {
    flex-shrink: 10;
}*/